
<!--### Footer -->
<div class="page-footer">
	<center><hr width=95%></center>
	<h1><p></h1>
	<center><table width=90%>
		<tr><td>
			<small>About <a  href="http://istc-pc.washington.edu" target="_">ISTC For PC</a>: 
				<a  href="http://istc-pc.washington.edu/people" target="_">People</a>, 
				<a  href="http://istc-pc.washington.edu/news" target="_">News, Press and Events</a>,
				<a  href="http://istc-pc.washington.edu/contact" target="_">Contact Us</a>
</small>
</td><td><a  href="http://istc-pc.washington.edu/concepts/smart-wet-lab/" target="_"><img src="istc-pc-logo.png" height=80px></a>
</td></tr></table></center>
</div>

</body></html>